@import "../../assets/styles/variables";

.MainWrapper {
  background-color: $background-color;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: $main-text-color;
  padding: 40px;
  height: 100vh;
  overflow: auto;
}

.Main {
  margin: auto;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 40px;
  width: 100%;
  max-width: 740px;
  min-height: 700px;
}

.Header {
  font-weight: 600;
  font-size: 22px;
}

.Content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.Statistics {
  margin-top: 45px;
}

.Funnel {
  margin-top: 45px;
}

.Loader {
  margin-top: 50px;
  border: 10px solid $border-color; /* Light grey */
  border-top: 10px solid $main-color; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.Error {
  margin-top: 40px;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 466px) {
  .MainWrapper {
    padding: 20px;
  }

  .Main {
    padding: 15px;
  }
}